<div class="container">
  <div class="results">
    <div class="title">
      <h1>Stupid Coaching</h1>
    </div>
    <div class="card">
      <h2><%= @question %></h2>
      <p><em>- You</em></p>
    </div>
    <div class="card">
      <h2><%= @answer %></h2>
      <p><em>- Your Coach</em></p>
    </div>
    <div class="btn">
      <%= link_to "Ask a new question", ask_path %>
    </div>
  </div>
</div>
