<div class="container">
  <div class="title">
    <h1>Stupid Coaching</h1>
  </div>
  <div class="form-ask">
    <form action="/answer">
      <input class="input-text" type="text" name="question" placeholder="Ask me anything...">
      <input class="btn-submit" type="submit" value="Ask!">
    </form>
  </div>
</div>
